[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tenacity = "*"
argparse = "*"
hid = "*"
zeroconf = "*"
asyncio = "*"
aiohttp = "*"
kivy = {extras = ["base"], version = "*"}

[dev-packages]

[requires]
python_version = "3.13"
